#content{
    float: left;
    width: calc(100% - 270px);
    box-sizing: border-box;
    margin: 0 1px 0 5px;
    padding: 10px;
}

#content h1 {
    font-size: 25px;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 10px;
    text-shadow: 3px 3px 5px var(--gray-color-dark);
}

#content article {
    background-color: whitesmoke;
    padding: 40px;
    margin-bottom: 30px;
    border: 2px solid var(--gray-color);
    box-shadow: 5px 5px 5px var(--gray-color-dark);
}

#content article h2 {
    margin: 2px;
    color: var(--secondary-color);
}

#content article a{
    font-size: 18px;
    float: right;
}
.pagination {
    float: right;
}
.pagination li {
    display: inline-block;
}

.pagination li a {
    padding: 10px 15px;
    background-color: whitesmoke;
    border: 2px solid var(--gray-color);
}
.pagination li:hover a {
    background-color: var(--primary-color);
    border-color: var(--primary-color-dark);
    color: whitesmoke;
}







@media (max-width:600px){
    #content {
        width: 100%;
    }
}