<section id="content">
    <h1>Últimas Noticias</h1>
    <article>
        <h2>El Desarrollo Web no es más que copiar y pegar</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio culpa earum voluptatum nihil amet consequuntur doloremque quasi aperiam recusandae assumenda porro ipsum nobis quisquam illo laudantium distinctio facere dicta vero rem earum libero reiciendis molestiae eveniet quod sequi asperiores similique quos!!</p>
        <a href="#">Ver más >> </a>
    </article>
    <article>
        <h2>Cómo hacer un slider con HTML y CSS</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio culpa earum voluptatum nihil amet consequuntur doloremque quasi aperia Lorem ipsum dolor, sit amet consectetur recusandae assumenda porro ipsum nobis quibusdam, rerum praesentium voluptate similique aut deserunt!</p>
        <a href="#">Ver más >> </a>
    </article>
    <article>
        <h2>Por qué HTML no es un lenguaje de programación</h2>
        <p>Lorem ipsum, dolor sit amet Blanditiis alias eum velit, quisquam illo laudantium distinctio facere dicta vero rem earum libero reiciendis molestiae eveniet quod sequi asperiores similique quos!!raesentium voluptate similique aut deserunt!</p>
        <a href="#">Ver más >> </a>
    </article>
    <article>
        <h2>Cómo poner la primera letra en mayúscula</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio culpa earum voluptatum nihil amet consequuntur doloremque quasi aperiam r Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis alias eum quos!!ecusandae assumenda porro ipsum nobis quibusdam, rerum praesentium voluptate similique aut deserunt!</p>
        <a href="#">Ver más >> </a>
    </article>
    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">...</a></li>
        <li><a href="#">20</a></li>
    </ul>
</section>